.heading{
  padding-left: 10px;
  color: rgb(185, 185, 185); 
  text-decoration: none;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px;
  background-color: rgb(16, 46, 61);
  color: white; 
}

.navbar h3 {
  margin: 0; 
}

.navbar .nav-links {
  display: flex;
  gap: 25px; 
}

.navbar a {
  color: rgb(185, 185, 185);
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  text-decoration: none;
  color: #ffffff; 
}
